.bouton:hover{
    background-color: rgb(222, 149, 103);
}
@media (min-width:768px){
    body{
        background-image : url(../image/lesDixMondes/00.jpg);
        background-position: center;     
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #lien{
        margin-top: 0.5em;
        text-align: center;
    }
    
    
    #lien button{
        border-radius: 40px;
    }
    #lien .bouton{
        border-radius: 40px;
        width:100%;
    }
    .container1{
        margin-top: 2em;
    }
    


    #lien button a{
        text-decoration: none;
        font-size: 3em;
        color: white;
    }
    .container0{
        margin-top: 1em;
        font-size: 3em;
        color: white;
        text-align: center;
    }
    .container2{
        margin-top: 5em;
    }
}
@media (min-width:501px) and (max-width:767px){
    body{
        background-image : url(../image/lesDixMondes/00.jpg);
        background-position: top;     
        background-repeat: no-repeat;
        background-size: 120%;
    }
    
    #lien{
        margin-top: 0.5em;
        text-align: center;
    }
    
    #lien button{
        border-radius: 40px;
    }
    #lien .bouton{
        border-radius: 40px;
        width:100%;
    }
    .container1{
        margin-top: 2em;
    }
    
    #lien button a{
        text-decoration: none;
        font-size: 2em;
        color: white;
    }
    .container0{
        margin-top: 1em;
        font-size: 2em;
        color: white;
        text-align: center;
    }
    .container2{
        margin-top: 7em;
    }
}
@media (max-width:500px){
    body{
        background-image : url(../image/lesDixMondes/00.jpg);
        background-position: top;     
        background-repeat: no-repeat;
        background-size: cover;
    }



    #lien{
        margin-top: 0.5em;
        text-align: center;
    }
    
    
    #lien button{
        border-radius: 40px;
    }
    #lien .bouton{
        border-radius: 40px;
        width:100%;
    }
    .container1{
        margin-top: 2em;
    }
    


    #lien button a{
        text-decoration: none;
        font-size: 2em;
        color: white;
    }
    .container0{
        margin-top: 1em;
        font-size: 2em;
        color: white;
        text-align: center;
    }
    .container2{
        margin-top: 2em;
        margin-bottom: 9em;
    }

}