body{
    background-image : url(../image/lesDixMondes/00.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:100%;
}

#lien{
    margin-top: 0.5em;
    text-align: center;
}
#lien button{
    border-radius: 40px;
}
#lien .bouton{
    border-radius: 40px;
    width:100%;
}

@media (min-width:768px){
    .container1{
        margin-top: 2em;
        font-size: 3em;
        color: white;
        text-align: center;
    }
    #lien button a{
        text-decoration: none;
        font-size: 3em;
        color: white;
    }
    .container0{
        margin-top: 2em;
        font-size: 3em;
        color: white;
        text-align: center;
    }
}
@media (max-width:767px){
    .container1{
        margin-top: 2em;
        font-size: 2em;
        color: white;
        text-align: center;
    }
    #lien button a{
        text-decoration: none;
        font-size: 2em;
        color: white;
    }
    .container0{
        margin-top: 2em;
        font-size: 2em;
        color: white;
        text-align: center;
    }
}