body{
    background-image : url(../image/lesDixMondes/00.jpg);
    background-position: top;     
    background-repeat: no-repeat;
    background-size: 135%;
}
.container{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin-top: 1em;
    opacity: 0.8
}
.card-body{
    background-color: rgb(222, 149, 103);
    color: rgb(3, 3, 3);
    font-size: 1.3em;
}
#lien button a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
#lien{
    margin-top: 0.5em;
    text-align: center;
}
#lien button{
    border-radius: 40px;
}
#lien .bouton{
    border-radius: 40px;
    width:100%;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.container2{
    margin-top: 4em;
}
